<html>
<head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js'></script>
    <script src='https://www.promisejs.org/polyfills/promise-7.0.4.min.js'></script>

    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <style>
      {% include 'task_template.css' %}




    </style>
</head>
<body>
<div class='container-fluid'>
    <div class='container'>
        <h1>Overview</h1>
        <p>You are given a science sentence and some questions about actions in the sentence.
            This task will eventually guide an AI system to understand actions in a sentence. </p>
        <hr>
        <h1>A simple example: </h1>
        <p>Sentence: Leaves <b>absorb</b> water from the soil.</p>
        <ul>

            <li>Who absorbs? (this question always asks who the performer of the action is) Answer: <b>Leaves</b></li>
            <ul>
                <li>Common mistake: water (ensure that only a performer of the action is marked here.)</li>
                <li>Another example highlighting mistake: The leaves detach.-- Who detaches? (Incorrect: leaves and correct
                    answer: Invalid, because the one who detaches the leaves is not evident).
                </li>
            </ul>

            <li>What do leaves absorb? (this question is never about the performer.) Answer: <b>water</b></li>
            <ul>
                <li>Common mistake: water from the soil (include only the essential information)</li>
            </ul>

            <li>Where do leaves absorb water? (the physical location where the action happens) Answer: <b>from the
                soil</b>
            </li>
            <ul>
                <li>Common mistake: soil (include only the essential information but make sure the leading preposition
                    is included)
                </li>
            </ul>

            <li>When do leaves absorb water? (the time or duration when the action happens) Answer: <b>Invalid</b></li>
            <ul>
                <li>Common mistake: marking non-time expressions such as other events in the sentence.
                    Please choose invalid if the answer is not evident from the sentence
                </li>
            </ul>

            <li>Is anything moved when leaves absorb water? (think of any physical entity that moved during this action)
                Answer: <b>Yes</b></li>
            <ul>
                <li>Where did it move from? Answer (from the soil)</li>
                <li>Where did it move to? Answer (Invalid)</li>
            </ul>

            <li>Is anything produced/created when leaves absorb water? (think of any physical entity that got created)
                Answer: <b>No</b></li>

        </ul>
        <p> Note: When a sentence contains multiple actions, there will also be questions about whether an action
            enables or
            prevents any other actions.</p>

        <hr>
        <h1>Guidelines.</h1>
        <ol>
            <li>For each action, highlight answer phrases by clicking/unclicking on words.
                Use your best judgment to choose phrases that are not too long and include only the essential
                information.
            </li>
            <li>Make sure that the answer to the first question is a performer of the action.</li>
            <li>Ignore any grammatical awkwardness in the questions.</li>
            <li>Refresh the page if you believe there is a mistake, there is no undo operation.
                Submit HIT button will appear once you have answered all the questions.</li>
        </ol>

        <p>Important note: We use test answers to identify bots and abusers.
            Choosing answers at random may result in having all of your assignments rejected,
            but so long as you use common sense, these questions are very easy to answer.</p>

        <br>
        <hr/>
        <div class="questions"></div>
        <div style="height: 100px;"></div>
    </div>

    <script>
        {% include 'task_template.js' %}




    </script>
</div>
</body>
</html>
