<html>
  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js'></script>
    <script src='https://www.promisejs.org/polyfills/promise-7.0.4.min.js'></script>

    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <style>
      {% include 'task_template.css' %}
    </style>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='container'>
        <htitle>In the given sentences</htitle><br>
        <htitlesm>1. Mark: actions by clicking on words in a sentence: these phrases have to be contiguous words.</htitlesm><br>
        <htitlesm>2. If there are no meaningful actions in the sentence, select 'There are no actions.'</htitlesm><br>
        <htitlesm>3. <b>DO NOT</b> mark abstract verbs (e.g., is, defined, etc.), and do not include negations (instead of <obj>do not move</obj>, prefer <obj> move </obj>).
        <br>Do not mark adjectives unless they are part of the action, e.g. prefer <obj>gets sufficiently cold</obj>
        instead of <obj>get cold</obj> to avoid skipping over a word in a phrase.</htitlesm><br>
        <p>&nbsp;</p>
        <br>
        <header>Examples</header>
        <br>

        <table id="examples">
          <tr>
            <td>
              Plants <obj>require</obj> air, water, nutrients, and light in order to <obj>live</obj>
              and <obj>survive</obj>.
            </td>
          </tr>
          <tr>
            <td>
              When a chemical change <obj>takes place</obj>, new substances <obj>are formed</obj>.
            </td>
          </tr>
          <tr>
            <td>
              When heat <obj>is added</obj> to the water, the molecules <obj>move</obj> faster
              and their bonds will not <obj>stay</obj> the same.
            </td>
          </tr>
          <tr>
            <td>
              The water molecule <obj>is composed of</obj> two hydrogen atoms , each <obj>linked</obj> by a bond.
            </td>
          </tr>
          <tr>
            <td>
              The glass <obj>gets cold</obj> enough to make it possible to <obj>condense</obj> <br>
              water vapor in the air into tiny droplets that <obj>deposit</obj> on the surface.
            </td>
          </tr>
        </table>

        <br>
      </div>
      <br><br><hr><br><br>
      <div class='col-lg-4 text-center'> {% include 'simpleamt.html' %} </div>
      <br><br>

      <div class="questions"></div>
      <script>
        {% include 'task_template.js' %}
      </script>
    </div>
  </body>
</html>
